<section id="name-options-valInp">

  <div class = "diff-label bold">{{title}}:</div>
  <br>

      <div class="">
        <div >{{inputTitle}}</div>
        <input class="gear-input" name='valueInp' type='number' placeholder= 0>
      </div>
      <br>
  </section>